@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,700&family=Tilt+Prism&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 10px;
}
.full_container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.portfolio {
  display: flex;
  align-items: flex-start;
}

.header__logo h1 {
  font-family: "Tilt Prism", cursive;
  margin-bottom: 3rem;
  padding-left: 4rem;
  letter-spacing: 4px;
  font-size: 4rem;
}
main.main {
  height: 100vh;
  overflow: auto;
  width: calc(100% - 25rem);
  background-color: rgba(0, 0, 0, 0.9);
  padding: 5rem;
  padding-top: 9rem;
  color: #fff;
}

header.header {
  width: 25rem;
  padding-top: 8rem;
  background-color: #0e0e0e;
  color: #fff;
  height: 100%;
}

a {
  color: inherit;
}

.header__nav ul li {
  padding: 9px 4rem;
  font-size: 1.5rem;
}

.header__nav ul li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}

.header__copyright {
  padding: 4rem;
  font-size: 1.4rem;
}

.header__nav ul li a:visited {
  opacity: 0.7;
}

.header__nav ul li:hover {
  background-color: #000000;
}

/* topBAr */

.topBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: black;
  color: white;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 3rem;
}

.topBar svg {
  font-size: 2.4rem;
}

@media only screen and (max-width: 991px) {
  .topBar {
    display: flex;
  }
  header.header {
    display: none;
    position: absolute;
    left: 0;
    z-index: 10;
    overflow: auto;
  }
  header.header.active{
    display: block;
  }

  main.main {
    width: 100%;
    padding-top: 12rem;
  }
}

@media only screen and (max-width: 757px) {
  .topBar{
    padding: 1.2rem;
  }
}